body{
	background-color:#d7d6d6;
}

h1,h2,h3,h4,h5,h6{
	color:#45A9B7;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .muted{color:#45A9B7;}

.inverse-font,
a.inverse-link,
a:visited.inverse-link,
.comment_info a,
.comment_info a:visited,
#wp-calendar a,
.logo a:hover,
.nav-pills > li > a:hover,
.btn-navbar,
.btn-navbar:hover,
.tweet_list li a,
.nav-tabs > li > a,
.detailpagepag a:hover,
.theblogpost h3 a:hover,
.blogtags a,
.pagination ul > li > a,
.pagination ul > li > a:hover,
.tagcloud a:hover,
.blogwidgetarea li a:hover,
.grid figcaption{color:#45A9B7;}

.tooltip.bottom .tooltip-arrow,
.teammember,
.portfolioitem,
.theblogpost h3 span,
.blogwidgetarea h3 > span,
.title span{border-bottom-color: #45A9B7;}

.tooltip.top .tooltip-arrow {border-top-color: #45A9B7;}

.tooltip.left .tooltip-arrow,
.accordion-heading .accordion-toggle{border-left-color: #45A9B7;}

.tooltip.right .tooltip-arrow {border-right-color: #45A9B7;}

.inverse-background,
.tooltip-inner,
a:link.comment-reply-link,
a:visited.comment-reply-link,
#wp-calendar thead th,
#wp-calendar #prev a,
#wp-calendar #next a,
ul.option-set li a.selected,
ul.option-set li a:hover,
.datebackground,
.pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span,
.tagcloud a,
.featured  > header,
.grid figcaption a{background-color:#45A9B7;}

.progress-inverse .bar,
.progress .bar-inverse{background-color:#45A9B7 !important;}

.detailpagepag a, .detailpagepag a:visited{background-color:#45A9B7;}

.progress-inverse .bar,
.progress .bar-inverse {
  background-color: background-color:#45A9B7;
  background-image: -moz-linear-gradient(top, background-color:#45A9B7, background-color:#45A9B7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(background-color:#45A9B7), to(background-color:#45A9B7));
  background-image: -webkit-linear-gradient(top, background-color:#45A9B7, background-color:#45A9B7);
  background-image: -o-linear-gradient(top, background-color:#45A9B7, background-color:#45A9B7);
  background-image: linear-gradient(to bottom, background-color:#45A9B7, background-color:#45A9B7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='background-color:#45A9B7', endColorstr='background-color:#45A9B7', GradientType=0);
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background-color: background-color:#45A9B7;
	border: 1px solid background-color:#45A9B7;
}

}