

/* ===== GENERAL STYLING SECTION ===== */

body{
	height:100%;
	margin:0; padding:0 !important;
	text-rendering:optimizeLegibility;
	background-color:#ffffff;
	font-family: 'Open Sans',sans-serif;
	color:#999;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 300;
}

.dropdown-backdrop{position:static !important;}

p{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height:normal;
	color:#999;
}

h1{font-size:32px;}
h2{font-size:28px;}

h4.title{font-weight:400;font-size:16px;}

pre,
code{
	color:#4aaaa5;
	font-size:12px;
	font-weight:300;
}

code{
	word-wrap: break-word;
}

img.roundimage{
	-moz-border-radius:50% !important;
	-ms-border-radius:50% !important;
	-o-border-radius:50% !important;
	-webkit-border-radius:50% !important;
	border-radius:50% !important;
}

img.smoothimage{
	-moz-border-radius:5px !important;
	-ms-border-radius:5px !important;
	-o-border-radius:5px !important;
	-webkit-border-radius:5px !important;
	border-radius:5px !important;
}

address{
	font-size:14px;
	font-weight:400;
	color:#999;	
}

hr {
	border-top: 2px solid #DFDFDF;
	border-bottom: 0px solid #ffffff;
}

.title {
	border-bottom: 1px dotted #DFDFDF;
	margin-bottom: 30px;
	margin-top: 0px;
}

.title span {
	border-bottom: 1px solid #4aaaa5;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: -1px;
}

[class^="icon-"],
[class*=" icon-"],
[class^="icon-"]:hover,
[class*=" icon-"]:hover{background-image:none;}

a,a:visited{color:#4aaaa5;}
a:hover{background-color:transparent;}
a,
a:visited,
a:hover{text-decoration:none;}

li{list-style:none;}

p.lead{font-color:#7F7F7F;font-size:18px;font-weight:400;font-family: 'Open Sans',sans-serif;}

.featuredlink{font-weight:700;font-size:16px;color:#666666;}

.imagebackground{
	background-image: url(../img/bghead.png);
	background-repeat: repeat;	
}

.muted{font-weight:300 !important;}

.alignleft{float:left;}
.alignright{floar:right;}

.white-font{color:#ffffff !important;}
.grey-font{color:#ecebe9 !important;}
.blue-font{color:#aee0f1 !important;}
.green-font{color:#AFD66D !important;}
.red-font{color:#f47e7e !important;}
.orange-font{color:#e5a979 !important;}
.yellow-font{color:#e3e49d !important;}
.inverse-font{color:#4aaaa5;}

.white-background{background-color:#ffffff !important;}
.grey-background{background-color:#ecebe9 !important;}
.blue-background{background-color:#aee0f1 !important;}
.green-background{background-color:#AFD66D !important;}
.red-background{background-color:#f47e7e !important;}
.orange-background{background-color:#e5a979 !important;}
.yellow-background{background-color:#e3e49d !important;}
.inverse-background{background-color:#4aaaa5;}

.addborder{border-top:2px solid #4aaaa5;}

a.inverse-link,
a:visited.inverse-link{color:#4aaaa5;}
a:hover.inverse-link{color:#47B5AC;}

ul.the-icons li{list-style:none;padding:3px 0px;}

.blogpost-music{background-color:#54CFEE;color:#252525;}
.blogpost-image{background-color:#F2673F;color:#252525;}
.blogpost-slide{background-color:#4aaaa5;color:#252525;}
.blogpost-noimage{background-color:#EC9161;color:#252525;}
.blogpost-video{background-color:#76CF67;color:#252525;}

.marginleft5{margin-left:5px !important;}
.marginleft10{margin-left:10px !important;}
.marginleft15{margin-left:15px !important;}
.marginleft20{margin-left:20px !important;}
.marginleft25{margin-left:25px !important;}
.margintop20{margin-top:20px !important;}

.marginright5{margin-right:5px !important;}
.marginright10{margin-right:10px !important;}
.marginright15{margin-right:15px !important;}
.marginright20{margin-right:20px !important;}
.marginright25{margin-right:25px !important;}

.pad5{padding-top:5px !important;}
.pad10{padding-top:10px !important;}
.pad15{padding-top:15px !important;}
.pad20{padding-top:20px !important;}
.pad25{padding-top:25px !important;}
.pad30{padding-top:30px !important;}
.pad35{padding-top:35px !important;}
.pad40{padding-top:40px !important;}
.pad45{padding-top:45px !important;}
.pad50{padding-top:50px !important;}
.pad55{padding-top:55px !important;}
.pad60{padding-top:60px !important;}
.pad-5{margin-top:-5px !important;}
.pad-10{margin-top:-10px !important;}
.pad-15{margin-top:-15px !important;}
.pad-20{margin-top:-20px !important;}
.pad-25{margin-top:-25px !important;}
.pad-30{margin-top:-30px !important;}
.pad-35{margin-top:-35px !important;}
.pad-40{margin-top:-40px !important;}
.pad-45{margin-top:-45px !important;}
.pad-50{margin-top:-50px !important;}
.pad-55{margin-top:-55px !important;}
.pad-60{margin-top:-60px !important;}

.padbottom0{padding-bottom:0px !important;margin-bottom:0px !important;}
.padbottom5{padding-bottom:5px !important;}
.padbottom10{padding-bottom:10px !important;}
.padbottom15{padding-bottom:15px !important;}
.padbottom20{padding-bottom:20px !important;}
.padbottom25{padding-bottom:25px !important;}
.padbottom30{padding-bottom:30px !important;}
.padbottom35{padding-bottom:35px !important;}
.padbottom40{padding-bottom:40px !important;}
.padbottom45{padding-bottom:45px !important;}
.padbottom50{padding-bottom:50px !important;}
.padbottom55{padding-bottom:55px !important;}
.padbottom60{padding-bottom:60px !important;}
.padbottom-5{margin-top:-5px !important;}
.padbottom-10{margin-top:-10px !important;}
.padbottom-15{margin-top:-15px !important;}
.padbottom-20{margin-top:-20px !important;}
.padbottom-25{margin-top:-25px !important;}
.padbottom-30{margin-top:-30px !important;}
.padbottom-35{margin-top:-35px !important;}
.padbottom-40{margin-top:-40px !important;}
.padbottom-45{margin-top:-45px !important;}
.padbottom-50{margin-top:-50px !important;}
.padbottom-55{margin-top:-55px !important;}
.padbottom-60{margin-top:-60px !important;}

.icon64{font-size:64px;line-height:64px;}

.sitecontainer{
	max-width:1240px;
	margin:0px auto;
	float:none;
	height:auto;
	overflow:hidden;
}

.boxcontainer{
	paddingleft:20px !important;
	padding-right:20px !important;	
}

.page-section{
	padding-top:60px;
	width:100%;
	float:left;
	-webkit-animation: toLeftFromRight 0.9s forwards;
	-moz-animation: toLeftFromRight 0.9s forwards;
	animation: toLeftFromRight 0.9s forwards;
	background-color:#f4f4f4;
}

.page-section-white{
	padding-top:60px;
	width:100%;
	float:left;
	background-color:#FBFBFB;
	-webkit-animation: toRightFromLeft 0.9s forwards;
	-moz-animation: toRightFromLeft 0.9s forwards;
	animation: toRightFromLeft 0.9s forwards;
}

img.rotatingimage{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
}

img.rotatingimage:hover{
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg); 
}

.tooltip.bottom .tooltip-arrow {border-bottom-color: #4aaaa5;}
.tooltip.top .tooltip-arrow {border-top-color: #4aaaa5;}
.tooltip.left .tooltip-arrow {border-left-color: #4aaaa5;}
.tooltip.right .tooltip-arrow {border-right-color: #4aaaa5;}
.tooltip-inner {background-color: #4aaaa5;}

.carousel-control {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 45px;
	height: 45px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 0px solid #ffffff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* ===== WORDPRESS DEFAULTS ===== */

#comments ol{
	padding:0px;
	margin:0px;
}

#comments ol li{
	list-style:none;
	list-style-image:none;
	background-color:white;
	-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	padding:15px;	
	position:relative;
	margin-bottom:20px;
	border-bottom:1px solid #DDDDDD;
}

ol.children,
.childrenli{
	margin-left:5% !important;
}

.comment_info a,
.comment_info a:visited{
	color:#4aaaa5;
}

.comment_info{
	width:100%;
	float:left;
}

.avatar{
	float:left;
	display:inline-block;
	padding-right:20px;
	padding-bottom:20px;
}

.commentwrapper{
	padding-top:10px;
	font-weight:300;
	font-size:12px;	
}

a:link.comment-reply-link,
a:visited.comment-reply-link{
	position:absolute;
	top:15px;
	right:15px;	
	background-color:#4aaaa5;
	color:white;
	text-decoration:none;
	padding:4px 6px;
	-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

a:hover.comment-reply-link{
	background-color:#31B5AF;
	color:white;
}

#reply-title {display:none;}

.form_info{
	margin:0;
	padding:20px 0px 5px 0px;	
	font-weight:300;
	text-transform:uppercase;
	font-size:12px;
}

.fullwidth{
	display:block;
	width:97%;
	border:0px !important;
	border-bottom:1px solid #DDDDDD !important;
	background-color:white !important;
	margin:0 !important;
	padding:8px 1% !important;
	font-size:14px !important;
	-moz-border-radius:2px !important;
	-ms-border-radius:2px !important;
	-o-border-radius:2px !important;
	-webkit-border-radius:2px !important;
	border-radius:2px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.fullwidtharea{
	display:block;
	width:97%;
	border:0px !important;
	border-bottom:1px solid #DDDDDD !important;
	background-color:white !important;
	margin:0px 0px 30px 0px !important;
	padding:8px 1% !important;
	font-size:14px !important;
	-moz-border-radius:2px !important;
	-ms-border-radius:2px !important;
	-o-border-radius:2px !important;
	-webkit-border-radius:2px !important;
	border-radius:2px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	min-height:240px;
}

#commentform > .form-submit > #submit,
.btn-form{
	background-color:#2f2f2f;	
	border:1px solid #2f2f2f;
	color:#f4f4f4;
	text-shadow:none;
	padding:8px 0px;
	text-align:center;
	font-size:15px;
	text-transform:uppercase;
	font-weight:400;
	width:99%;
	margin:0;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.btn-form{
	text-align:center;
	width:100% !important;
}

.wp-caption, .gallery-caption{
	border: 0px solid #ddd;
	text-align: center;
	background-color: #f4f4f4;
	padding-top: 4px;
	margin: 10px;
	max-width:100%;
}

.wp-caption img {margin: 0;padding: 0;border: 0 none;}
.wp-caption p.wp-caption-text {font-size: 0.85em;line-height: 1.214em;padding: 0 4px 5px;margin: 0; }
.sticky { color:red; }
.bypostauthor{background-color: transparent; }
.alignnone {margin:0px;}
.aligncenter,div.aligncenter {display: block;margin: 0px auto 0px auto;}
.alignright {float:right;margin: 0px;}
.alignleft {float: left;margin:0px;}
.aligncenter {display: block;margin: 5px auto 5px auto;}
a img.alignright,img.alignright {float: right;margin: 5px 0px 20px 20px;}
a img.alignnone, img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft, img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter, img.aligncenter {display: block;margin-left: auto;margin-right: auto}

#wp-calendar { width:100%;}
.footerwidget > #calendar_wrap,
.tagcloud{padding:0px !important;}
#wp-calendar caption {padding:0px 0px 10px 0px;font-weight:600;}
#wp-calendar thead th {background-color:#4aaaa5;color:white;padding:5px 0px;border:1px solid #f4f4f4;}
#wp-calendar tbody td {background-color:white;text-align:center;padding:5px 0px;border:1px solid #f4f4f4;}
#wp-calendar tbody td:nth-child(odd) {background-color:transparent;}
#wp-calendar a {color:#4aaaa5;font-weight:600;}
#wp-calendar #prev,
#wp-calendar #next{
	padding-top:20px;
}
#wp-calendar #prev a{text-align: left; color:white;padding:4px 8px 6px 8px;background-color:#4aaaa5;border-radius:2px;}
#wp-calendar #next a{text-align: right;  color:white;padding:4px 8px 6px 8px;background-color:#4aaaa5;border-radius:2px;}

/* ===== HEADER SECTION ===== */

.header{
	float:left;
	width:100%;
	background-color:#252525;
	min-height:86px;
	z-index: 2000;
}

.stickyheader{
	position:fixed;
	margin:0px auto;
	float:none;
	display:none;
}

.stickyheaderboxed{
	max-width:1240px;	
}

.page-header{
	float:left;
	margin:0px;
	width:100%;
	text-align:center;
	padding-bottom:0px;
	border:0px;
}

.pageheaderimage{
	width: 100%;
	float: left;
	height: auto;
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
	padding-bottom:36px;
}

.pageheaderimage h1{
	font-size:48px;
	color:white;
	padding:48px 0px 38px 0px;
	margin:0;
}

.pageheaderimage p{
	font-size:20px;
	color:#162423;
	padding:0 100px;
	margin:0;
	line-height:38px;
	color:#E4E4E4;
}

.logo{
	font-size:54px;
	line-height:86px;
	color:white;
}

.logo a{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.logo > a > img{
	max-height:76px;
	width:auto;
}

.logo a,
.logo a:visited,
.logo a:hover{
	color:inherit;
}

.logo a:hover{color:#4aaaa5;}

#main_menu{
	width:auto;
	float:right;
}


#main_menu_sticky{
	width:auto;
	float:right;
}

.nav{
	padding:0;
	margin:0;
}

.nav-pills > li > a {
	padding:26px 15px 30px 15px;
	margin:10px 0px 0px 22px;
	color:#A1A6AF;
	border-radius:4px 4px 0px 0px;
}

.nav-pills > li > a:hover{
	background-color:transparent;
	color:#4aaaa5;
}

.nav-pills > li:first-child > a {
	margin-left:0px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover{
	background-color:transparent;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: none;
	min-width: 160px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #252525;
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom:8px solid #545454;
}

.dropdown-menu > li > a {
	display: block;
	padding: 10px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	font-size:13px;
	color: #A1A6AF;
	white-space: nowrap;
	background-color: #252525 !important;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a {
	color: #ffffff;
	text-decoration: none;
	background-color: #2f2f2f;
	background-image: -moz-linear-gradient(top, #2f2f2f, #2f2f2f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#2f2f2f));
	background-image: -webkit-linear-gradient(top, #2f2f2f, #2f2f2f);
	background-image: -o-linear-gradient(top, #2f2f2f, #2f2f2f);
	background-image: linear-gradient(to bottom, #2f2f2f, #2f2f2f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#2f2f2f', GradientType=0);
}

.dropdown-menu > li:first-child{margin-top:6px;}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus{
	background-color:transparent;
	border:0px;
}

.btn-navbar {
	display:none;
	position:absolute;
	top:18px;
	right:18px;
	color: #4aaaa5;
	font-size:20px;
	border:0px;
	background-color: #252525;
	background-image:none !important;
	width:50px;
	height:50px;
}

.btn-navbar i{
	font-size:30px;
	margin-left:-10px;
}

.btn-navbar > .btn {
	display:inherit;
	padding: inherit;
	margin-bottom: 0;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: left;
	text-shadow: none;
	vertical-align: left;
	cursor: pointer;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius:0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-navbar > .btn:hover,
.btn-navbar > .btn:focus {
	color: #white;
	text-decoration: none;
	background-image:none !important;
}

.btn-navbar:hover {
	color: #252525;
	background-color: #4aaaa5;
}

/* ===== FOOTER SECTION ===== */

.footer{
	width:100%;
	float:left;
	background-color:#252525;
}

.footerwidgetarea{
	float:left;
	width:100%;
	padding:0px;
	background-color:rgb(27, 27, 27);
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
}

.footerwidget{
	background-color:#2f2f2f;
	margin-top:50px;
	margin-bottom:50px;
	height:385px;
	overflow:hidden;
}

.footerwidget h3{
	padding:20px 0;
	margin:0;
	font-size:20px;
}

ul.footerblog_post{
	width:100%;
	float:left;
	padding:0;
	margin:0;
	height:auto;
	overflow:hidden;
}



ul.footerblog_post li{
	display:block;
	list-style:none;
	list-style-image:none;
	padding:22px 20px 21px 20px;
	border-bottom:1px solid #252525;
}

ul.footerblog_post li:first-child{
	padding-top:0px;
}

ul.footerblog_post li:last-child{
	border:0px;
}

ul.footerblog_post li span{
	padding:8px 10px 6px 10px;
	float:left;
	margin:3px 10px 6px 0px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

ul.footerblog_post li p{
	color:#6E727A;
	font-size:12px;
	padding:1px 0;
	margin:0;
	width:100% !important;
	display:block;
}

.copyright{
	color:#6E727A;
	padding:40px 0px 30px 0px;
	font-size:14px;
}

.footersocial{
	padding:0 0 20px 0;
	font-size:26px;
}

.footersocial a,
.footersocial a:visited{	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin:0px 6px;
}

/* ===== TWITTER SECTION ===== */

tp_recent_tweets {
	font-family: 'Open Sans',sans-serif;
	color: #6E727A;
	text-align:left !important;
	font-size:12px;
}

.tp_recent_tweets ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	background-color: #2f2f2f;
}
	
.tp_recent_tweets ul li {
	overflow-y: auto;
	overflow-x: hidden;
	padding:20px;
	list-style-type: none;
	border-bottom:1px solid #252525;
	color: #6E727A;
	font-size: 12px;
}
		
.tp_recent_tweets ul li a {
	color: #4aaaa5;
}
		
.tp_recent_tweets ul li img.tweet_avatar {
	margin:3px 12px 3px 0px;
	float: left;
	vertical-align: middle;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.tp_recent_tweets ul li:first-child{padding-top:0px;}		
.tp_recent_tweets ul li:last-child{border:0px;}

/* ===== FLICKR SECTION ===== */

.flickrwrap{
	width:100%;
	float:left;
	padding-bottom:20px;
	background-color:#2f2f2f;
}

ul.flickrhere{
	float:left;
	padding:0px 20px 0px 20px;
	margin:0;
	text-align:center;
}

ul.flickrhere li{
	list-style:none;
	list-style-image:none;
	padding:0px 5px 10px 5px;
	display:inline-block;
}

ul.flickrhere li img{
	padding:0;
	margin:0;
	border:0;
	height:70px;
	width:70px;
}

/* ===== FRONTPAGE SECTION ===== */

/* slider wrap */
.frontpageslider,
.frontpagerevslider,
.contactgooglewrap{
	width:100%;
	float:left;
}

.frontpageslider img{
	width:100 !important;
	height:auto;
}

/* google map wrap */
#map{
	width:100%;
	float:left;
	height:550px;
}

#map > iframe{
	height:550px;
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
}

/* intro icons */
.introicons {
	padding: 14px;
	position: relative;
	background-color:white;
	border-radius:5px;
	margin:60px 0px;
	cursor:pointer;
}

.introicons i {
	position: absolute;
	height: 100px;
	width: 100px;
	font-size: 50px;
	line-height: 100px;
	padding: 10px !important;
	color: #f4f4f4;
	top: 0px;
	left: 50%;
	margin: -60px 0px 0px -60px !important;
	padding: 0px !important;
	border-radius: 50%;
	border: 10px solid #f4f4f4;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.introicons:hover > i {
	border: 10px solid #ffffff;
	-webkit-animation: spinAround 1.5s linear infinite;
	-moz-animation: spinAround 1.5s linear infinite;
	animation: spinAround 1.5s linear infinite;
}

.introicons h6 {
	font-weight: 400;
	font-size: 18px;
	margin: 70px 0px 20px 0px;
	color: #666666;
}

.introicons p{
	line-height:22px;
	font-size:14px;
	font-weight:400;
	color:#A8A8A8;
}

/* clients list */
ul.clientslist{
	width:100%;
	float:left;
	padding:0px 0px 30px 0px;
}

ul.clientslist li{
	width:16% !important;
	height:auto;
	display:inline-block;
	float:left;
	list-style:none;
	list-style-image:none;
	margin:0px 1% 20px 1%;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:0px 1%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor:pointer;
	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	grayscale(100%);
}

ul.clientslist li img{
	padding:8px 0px 0px 0px;
	width:100%;
	height:auto;
}

ul.clientslist li:hover{
	margin: -10px 1% 30px 1%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

/* ===== ACCORDION SECTION ===== */

.accordion-group {
	margin-bottom: 2px;
	border: 0px solid #e5e5e5;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.accordion-heading .accordion-toggle{
	background-color:#EFEFEF;
	padding: 12px 20px;
	border-left:5px solid #4aaaa5;
	border-radius:3px;
}
.accordion-heading .accordion-toggle > i{
	padding-right:4px;
	line-height:-2px;
	font-size:18px;
}

.accordion-inner{border-top:0px !important;}

/* ===== PROGRESSIVE BARS SECTION ===== */

.progressinner{
	position:absolute;	
	top:10px;
	left:10px;
	color:white;
	font-weight:400;
	font-size:14px;
	text-transform:uppercase;
	text-shadow:0px 1px 0px #484848;
}

.progress {
	height: 40px;
	margin-bottom: 20px !important;
	overflow: hidden;
	background-color: #e5e5e5;
	background-image: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#e5e5e5', GradientType=0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius:3px;
	position:relative;
}

.progress-inverse .bar,
.progress .bar-inverse {
	background-color: #4aaaa5;
	background-image: -moz-linear-gradient(top, #4aaaa5, #4aaaa5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4aaaa5), to(#4aaaa5));
	background-image: -webkit-linear-gradient(top, #4aaaa5, #4aaaa5);
	background-image: -o-linear-gradient(top, #4aaaa5, #4aaaa5);
	background-image: linear-gradient(to bottom, #4aaaa5, #4aaaa5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aaaa5', endColorstr='#4aaaa5', GradientType=0);
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
	background-position: center top;
}

.progress-info .bar, .progress .bar-info {
	background-color: #aee0f1;
	background-image: -moz-linear-gradient(top, #aee0f1, #aee0f1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aee0f1), to(#aee0f1));
	background-image: -webkit-linear-gradient(top, #aee0f1, #aee0f1);
	background-image: -o-linear-gradient(top, #aee0f1, #aee0f1);
	background-image: linear-gradient(to bottom, #aee0f1, #aee0f1);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aee0f1', endColorstr='#aee0f1', GradientType=0);
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
	background-position: center top;
}

.progress-success .bar, .progress .bar-success {
	background-color: #AFD66D;
	background-image: -moz-linear-gradient(top, #AFD66D, #AFD66D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AFD66D), to(#AFD66D));
	background-image: -webkit-linear-gradient(top, #AFD66D, #AFD66D);
	background-image: -o-linear-gradient(top, #AFD66D, #AFD66D);
	background-image: linear-gradient(to bottom, #AFD66D, #AFD66D);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFD66D', endColorstr='#AFD66D', GradientType=0);
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
	background-position: center top;
}

.progress-warning .bar, .progress .bar-warning {
	background-color: #e5a979;
	background-image: -moz-linear-gradient(top, #e5a979, #e5a979);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5a979), to(#e5a979));
	background-image: -webkit-linear-gradient(top, #e5a979, #e5a979);
	background-image: -o-linear-gradient(top, #e5a979, #e5a979);
	background-image: linear-gradient(to bottom, #e5a979, #e5a979);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5a979', endColorstr='#e5a979', GradientType=0);
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
	background-position: center top;
}

.progress-danger .bar, .progress .bar-danger {
	background-color: #f47e7e;
	background-image: -moz-linear-gradient(top, #f47e7e, #f47e7e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f47e7e), to(#f47e7e));
	background-image: -webkit-linear-gradient(top, #f47e7e, #f47e7e);
	background-image: -o-linear-gradient(top, #f47e7e, #f47e7e);
	background-image: linear-gradient(to bottom, #f47e7e, #f47e7e);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47e7e', endColorstr='#f47e7e', GradientType=0);
	background-image: url(../img/bghead.png);
	background-repeat: repeat;
	background-position: center top;
}

/* ===== TABS SECTION ===== */

.nav-tabs {
	border-bottom: 1px solid #DFDFDF;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	color: white;
	cursor: default;
	background-color: #4aaaa5;
	border: 1px solid #4aaaa5;
	border-bottom-color: #DFDFDF;
}

.nav-tabs > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #4aaaa5;
	border-radius:3px 3px 0px 0px;
}

.nav-tabs > li > a > i{
	vertical-align: -2px;
	font-size:18px;
	padding-right:4px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	border-top-color: #eeeeee;
	border-right-color: #eeeeee;
	border-bottom-color: #DFDFDF;
	border-left-color: #eeeeee;
}

.tab-content{padding:20px 0;}
.tab-content p{color:#999;}

/* ===== TEAM MEMBERS SECTION ===== */

.teammember{
	margin-bottom:50px;
	border-bottom: 1px solid #fff;
	background-color:white;
	position:relative;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-border-radius:3px;
	border-radius:3px;
	-webkit-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-o-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
}

.teammember > i{
	position:absolute;
	bottom:0px;
	left:50%;
	font-size:12px;
	line-height:30px;
	height:30px;
	width:30px;
	margin: 0px 0px -15px -15px;
	color:#999;
	border-radius:3px;
	color:white;
}

.teammember:hover{
	border-bottom: 1px solid #4aaaa5;
}

.teamimagewrap{
	width:100%;
	height:180px;
	overflow:hidden;
}

.teamimage250{
	height:250px;
}

.teamimage350{
	height:350px;
}

.teamimagewrap img{width:100%;height:auto;border:0;border-radius: 3px 3px 0px 0px;}

span.teamposition{
	width:100%;
	color:#CCC;
	font-size:12px;
	font-weight:400;
	padding:0px 0px 15px 0px;
	float:left;
}

h3.teamname{
	width:100%;
	font-size:16px;
	font-weight:400;
	padding:20px 0px 3px 0px;
	margin:0;
	line-height:18px;
	float:left;
}

.teammember:hover > ul.teamsocial{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

ul.teamsocial{
	float: none;
	min-width: 50px;
	padding: 0px;
	margin: -100px auto 0px auto;
	text-align: center;
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	z-index:2000;
}

ul.teamsocial li{
	display:inline-block;
	font-size:12px;
	background-color:white;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding:6px 0px 2px 0px;
}

ul.teamsocial li a{
	text-decoration:none;
	width:100%;
	color:#2f2f2f;
	padding:12px;
	line-height:14px;
}

ul.teamsocial li a:hover{color:white;background-color:transparent;}

ul.teamsocial li.twitter:hover{background-color:#79CAFC;}
ul.teamsocial li.facebook:hover{background-color:#3D62B3;}
ul.teamsocial li.linkedin:hover{background-color:#006CB2;}
ul.teamsocial li.github:hover{background-color:#EEB999;}
ul.teamsocial li.googleplus:hover{background-color:#D34836;}

p.tsoc{font-size:22px;}

a:link.teamsoc{color:#999;margin-right:18px;}
a:visited.teamsoc{color:#999;}
a:hover.teamsoc{color:#CCC;}

img.fullwidthimage{width:100% !important;height:auto;}

/* ===== TESTIMONIAL SECTION ===== */

.testimonials{
	width:80%;
	padding:0px 10%;
	margin:0;
}

.testimonialimage{
	width:16%;
	float:left;
	padding:10px 2%;
}

.testimonialimage img{
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	border:0;
}

.testimonialtext{
	width:76%;
	padding:10px 2%;
	float:right;
	font-size:12px;
	font-weight:300;
}

/* ===== 404 SECTION ===== */

.fourfourclass{width:100%;float:left;}

.fourfourclass > h1{font-size:320px;font-weight:700;line-height:320px;color:#D8D8D8;text-align:center;}

/* ===== BUTTONS SECTION ===== */

.btn-success {
	color: #ffffff !important;
	text-shadow: none;
	border-radius: 2px;
	background-color: #AFD66D;
	background-image: none !important;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFD66D', endColorstr='#AFD66D', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 -3px #8FB94F inset;
	-moz-box-shadow: 0 -3px #8FB94F inset;
	-webkit-box-shadow: 0 -3px #8FB94F inset;
	-o-box-shadow: 0 -3px #8FB94F inset;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-success:hover{
	background-color: #9DCB57;
}

.btn-inverse {
	color: #ffffff !important;
	text-shadow: none;
	border-radius: 2px;
	background-color: #252525;
	background-image: none !important;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252525', endColorstr='#252525', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 -3px #0B0B0B inset;
	-moz-box-shadow: 0 -3px #0B0B0B inset;
	-webkit-box-shadow: 0 -3px #0B0B0B inset;
	-o-box-shadow: 0 -3px #0B0B0B inset;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-inverse:hover{
	background-color: #0B0B0B;
}

.btn-danger {
	color: #ffffff !important;
	text-shadow: none;
	border-radius: 2px;
	background-color: #f47e7e;
	background-image: none !important;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47e7e', endColorstr='#f47e7e', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 -3px #D85D62 inset;
	-moz-box-shadow: 0 -3px #D85D62 inset;
	-webkit-box-shadow: 0 -3px #D85D62 inset;
	-o-box-shadow: 0 -3px #D85D62 inset;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-danger:hover{
	background-color: #D85D62;
}

.btn-warning {
	color: #ffffff !important;
	text-shadow: none;
	border-radius: 2px;
	background-color: #e5a979;
	background-image: none !important;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5a979', endColorstr='#e5a979', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 -3px #DD6F47 inset;
	-moz-box-shadow: 0 -3px #DD6F47 inset;
	-webkit-box-shadow: 0 -3px #DD6F47 inset;
	-o-box-shadow: 0 -3px #DD6F47 inset;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-warning:hover{
	background-color: #DD6F47;
}

.btn-info {
	color: #ffffff !important;
	text-shadow: none;
	border-radius: 2px;
	background-color: #5bc0de;
	background-image: none !important;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#5bc0de', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 -3px #7B98D6 inset;
	-moz-box-shadow: 0 -3px #7B98D6 inset;
	-webkit-box-shadow: 0 -3px #7B98D6 inset;
	-o-box-shadow: 0 -3px #7B98D6 inset;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-info:hover{
	background-color: #7B98D6;
}

.btn-primary{
	color: #ffffff !important;
	text-shadow: none;
	border-radius: 2px;
	background-color: #006dcc;
	background-image: none !important;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006dcc', endColorstr='#006dcc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: 0 -3px #08479E inset;
	-moz-box-shadow: 0 -3px #08479E inset;
	-webkit-box-shadow: 0 -3px #08479E inset;
	-o-box-shadow: 0 -3px #08479E inset;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-primary:hover{
	background-color:#08479E;
}

/* ===== ISOTOPE SECTION ===== */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* ===== PORTFOLIO SECTION ===== */

.sharewrap{
	width:100%;
	float:left;
	display:block;
}

ul.option-set{
	float:left;
	padding:0px;
	margin:0;
}

ul.option-set li{;
	float:left;
	display:inline-block;
	list-style:none;
}

ul.option-set li a,
ul.option-set li a:visited{
	padding:10px 14px;
	color:#999;
	font-size:14px;
	display:inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

ul.option-set li a.selected,
ul.option-set li a:hover{
	background-color:#4aaaa5;
	color:white;
}

.masonryportfolio{
	width:25%;
	float:left;
	height:auto;
	overflow:hidden;
	margin:0 !important;	
	border:0px !important;
}

.portfolioitem{
	margin-bottom:30px;
	border-bottom: 1px solid #4aaaa5;
	background-color:white;
	overflow: hidden;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.fixedheight4{
	height:160px;
	overflow:hidden;
}

.fixedheight3{
	height:200px;
	overflow:hidden;
}

.fixedheight2{
	height:300px;
	overflow:hidden;
}

.portfolioimagewrap{
	width:100%;
	float:left;
	position:relative;
	overflow:hidden;
}

.portfolioimagewrap img{
	border:0px;
	padding:0px;
	margin:0px;
	height:auto;
	width:100%;
}

.portfoliotitle{
	width:100%;
	font-size:16px;
	font-weight:400;
	padding:30px 0px 0px 0px;
	margin:0;
	line-height:18px;
	float:left;
}

.portfolioexcerpt{
	width:100%;
	color:#CCC;
	font-size:12px;
	font-weight:400;
	padding:0px;
	float:left;
	padding-bottom:30px;
}

.portfoliooverlay{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#ffffff;
	background-color:rgba(255,255,255,.5);
	z-index:2000;
	height:100% !important;
	opacity:0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding:6px 0px 2px 0px;
}

.fixedheight4 > .portfoliooverlay{
	height:160px !important;
}

.fixedheight3 > .portfoliooverlay{
	height:200px !important;
}

.fixedheight2 > .portfoliooverlay{
	height:300px !important;
}

.portfolioimagewrap:hover > .portfoliooverlay{
	opacity:100;
}

.portfolioinnnerwrap{
	background-color:#252525;
	background-color:rgba(255,255,255,.5);
	height:80%;
	width:90%;
	margin:5%;
	position:relative;
}

.portfoliolink{
	position:absolute;
	top:50%;
	left:50%;
	margin:-5px 0px 0px -25px;
	font-size:30px;
}

.portfoliolink a,
.portfoliolink a:visited{
	font-size:30px;
	color:#252525 !important;
	padding:15px;
}

.portfoliolink a:hover{
	color:#666666 !important;
}

.detailpagepag{
	width:100%;
	float:left;
}

.detailpagepag a,
.detailpagepag a:visited{
	background-color:#4aaaa5;
	color:white;
	padding:3px 20px 10px 20px;
	font-size:36px !important;
	line-height:36px;
	display:inline-block;
	margin-bottom:20px;
	border-radius:3px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.detailpagepag a:hover{
	background-color:#FBFBFB !important;
	color:#4aaaa5;
}

ul.detailedstuff{
	width:100%;
	float:left;
	margin:0;
	padding:0px 0px 20px 0px;
}

ul.detailedstuff li{
	list-style:none;
	font-size:14px;
	color:#999;
	padding:2px 0px;
}

ul.detailedstuff li span{
	color:#666666;
	margin-right:10px;
	font-size:16px;
	font-weight:600;
	min-width:80px;
	display:inline-block;
}

.portfoliocontent{
	font-weight:300;
	width:100%;
	float:left;
	padding-bottom:20px;
}

.portfolioslide img{
	width:100%;
	height:auto;	
}

.portfolioiframe{
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
	height:500px;
}

.smallportfolioshortcode{
	height:160px;
	overflow:hidden;
}

.grid {
	padding: 0px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 31%;
	margin: 0;
	padding: 10px 1%;
	text-align: left;
	position: relative;
}

.grid li.twocol{
	width:48%;
}

.grid li.fourcol{
	width:22.9%;
}

.grid figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	overflow:hidden;
}

.grid figure:hover img,
.grid figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.grid figcaption {
	position: absolute;
	left: 0;
	padding: 20px 0px;
	background: #252525;
	color: #4aaaa5;
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0 20px;
	color: #fff;
}

.fourcol figcaption h3{
	font-size:18px;
}

.fourcol figcaption {
	font-size:14px;	
}

.grid figcaption span{
	padding-left:20px;
}

.grid figcaption span:before {
	content: '';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #4aaaa5;
	color: #fff;
}

.grid figure:hover figcaption,
.grid figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.grid figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}


/* ===== SHARRRE PLUGIN SECTION ===== */

.sharrre{
    margin:0px 2px 20px 0px;
    float:left;
}

.box{border-radius:3px;overflow:hidden;}

.sharrre .box a:hover{
	text-decoration:none;
}
.sharrre .count {
	color:#525b67;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:30px;
	height:30px;
	position:relative;
	text-align:center;
	width:50px;
	background: #ecebe9; /* Old browsers */
}

.sharrre .count:before {
	border:solid 7px transparent;
	border-top-color:#b2c6cc;
	margin-left:-7px;
	bottom: -14px;
}
.sharrre .count:after {
	border:solid 6px transparent;
	margin-left:-6px;
	bottom:-12px;
	border-top-color:#fbfbfb;
}
.sharrre .share {
	color:#FFFFFF;
	display:block;
	font-size:10px;
	font-weight:bold;
	height:20px;
	line-height:20px;
	padding:0;
	text-align:center;
	text-decoration:none;
	width:50px;
}
#ublportfoliotwitter .share {
	background: #26c3eb;
}
#ublportfoliofacebook .share {
	background: #5582c9;
}
#ublportfoliogoogleplus .share {
	background: #6d6d6d;
}

#ublportfoliolinkedin .share {
	background: #2768A8;
}

#ublportfoliodigg .share {
	background: #1B5790;
}

#ublportfoliopinterest .share {
	background: #C62E33;
}

#ublportfoliostumbleupon .share {
	background: #406E7E;
}

#ublportfoliodelicious .share {
	background: #3274d1;
}

/* ===== BLOG SECTION ===== */

.theblogpost{
	width:100%;
	float:left;
	height:auto;
	overflow:hidden;
}

.theblogpost h3{
	padding:0px;
	margin:0px;
	font-size:30px;
	line-height:20px;
	color:#666666;
	font-weight:600;
	font-family: 'Open Sans',sans-serif;
	border-bottom:1px dotted #DFDFDF;
	margin-bottom:5px;
}

.theblogpost h3 a{
	color:#666666;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.theblogpost h3 a:hover{
	color:#4aaaa5;
}

.theblogpost h3 span{
	border-bottom: 1px solid #4aaaa5;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: -1px;
}

.blogtags{
	line-height:20px;
	font-weight:400;
	display:block;
	font-style:italic;
	font-size:14px;
}

.blogtags a{
	color:#4aaaa5;
}

.blogimage{
	width:100%;
	float:left;
	margin:20px 0px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	overflow:hidden;
}

.blogimage img{
	width:100%;
	height:auto;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
}

.blogimage iframe{
	width:100% !important;
	height:370px;
	border:0px;
	padding:0;
	margin:0;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.largervideo iframe{
	height:620px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}


.blogimg > audio{
	width:100% !important;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.blogdates{	
	position:absolute;
	top:0px;
	left:-110px;
	text-align:right;
	font-size:40px;
	font-weight:400;
	color:#CCCCCC;
	line-height:20px;
}

.blogdates > span{
	font-size:20px;
	font-weight:400;
	line-height:20px;
}

.blogicons{	
	position:absolute;
	top:0px;
	left:-18px;
	text-align:center;
	font-size:14px;
	line-height:26px;
	padding:6px 7px 8px 6px;
	width:20px;
	height:20px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color:#252525;
}

.bloginnerwrap{
	width:74%;
	float:right;
	position:relative;
	margin-left:19%;
	padding-left:5%;
	border-left:1px solid #4aaaa5;
}

.bloginnerwrap h3{
	font-size:20px !important;	
}

.bloginnerwrapleft{
	float:left !important;
}

.blogdetailinnerwrap{
	width:100%;
	float:right;
	padding-left:0%;
}

.bloginnerwrap p,
.blogdetailinnerwrap p{
	color:#999;
}

.pagination{margin:0;}

.pagination ul {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.pagination ul > .active > a {color: white;cursor: default;}
.pagination ul > .active > span,
.pagination ul > li > a{color:#4aaaa5;}
.pagination ul > li > a:hover{color:#4aaaa5;}
.pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {background-color: #4aaaa5;}
ul > li > a, .pagination ul > li > span {border: 0px solid #dddddd;}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
	border-left-width: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}

.pagination ul > li > a, .pagination ul > li > span {border: 0px solid #dddddd;padding:8px 16px;}

.pagination ul > li{font-size:16px;}

.mejs-container .mejs-controls{
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.tagcloud a{
	padding:3px 5px;
	margin:0px 0px 4px 0px !important;
	display:inline-block;
	background-color:#4aaaa5;
	color:white;
	text-transform:uppercase;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	font-size:12px !important;
}

.tagcloud a:hover{
	color:#4aaaa5;
	background-color:white;
}

.blogwidgetarea{
	padding-bottom:50px;
}

.blogwidgetarea h3{
	font-size:20px;
	font-weight:600;
	border-bottom:1px dotted #DFDFDF;
	margin-top:50px;
	margin-bottom:20px;
	color:#666666;
}

.blogwidgetarea h3 > span{
	border-bottom: 1px solid #4aaaa5;
	display: inline-block;
	margin-bottom: -1px;
}

.blogwidgetarea h3:first-child{
	margin-top:0px;
}

.blogwidgetarea ul{
		width:100%;
		padding:0;
		margin:0;
}

.blogwidgetarea li{
		width:100%;
		padding:10px 0px;
		margin:0;
		display:block;
		list-style:none;
		border-bottom:1px dotted #E2E2E2;
}

.blogwidgetarea li:first-child{
		padding-top:0px;
}

.blogwidgetarea li:last-child{
		border-bottom:0px dotted #E2E2E2;
}

.blogwidgetarea li a,
.blogwidgetarea li a:visited{
	color:#666666;	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.blogwidgetarea li a:hover{
	color:#4aaaa5;
	background-color:transparent;	
}

.commentcomment{
	padding:0px 30px;
	display:block;
	width:100%;
}

.blogcontentwrap{
	width:100%;
	padding:0px;
	margin:0px;
	float:left;
	height:auto;
}

/* ===== PRICING TABLE SECTION ===== */

.row-fluid > .span3.pricingtable{
	margin-left:0px;
	width:25%;
}

.row-fluid > .span4.pricingtable{
	margin-left:0px;
	width:33.3333333334%;
}

.row-fluid > .span6.pricingtable{
	margin-left:0px;
	width:50%;
}

.pricingtable{
	background-color:white;
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

div.row-fluid > div.pricingtable:first-child{
	-moz-border-radius:3px 0px 0px 3px;
	-ms-border-radius:3px 0px 0px 3px;
	-o-border-radius:3px 0px 0px 3px;
	-webkit-border-radius:3px 0px 0px 3px;
	border-radius:3px 0px 0px 3px;
}

div.row-fluid > div.pricingtable:last-child{
	-moz-border-radius:0px 3px 3px 0px;
	-ms-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	-webkit-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}

.pricingtable > header{
	padding:0px;
	margin:0px;
	background-color:#252525;	
}

div.row-fluid > div.pricingtable:first-child > header{
	-moz-border-radius:3px 0px 0px 0px;
	-ms-border-radius:3px 0px 0px 0px;
	-o-border-radius:3px 0px 0px 0px;
	-webkit-border-radius:3px 0px 0px 0px;
	border-radius:3px 0px 0px 0px;
}

div.row-fluid > div.pricingtable:last-child > header{
	-moz-border-radius:0px 3px 3px 0px;
	-ms-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	-webkit-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}

.pricingtable > header > h3{
	padding:10px 0px;
	margin:0px;
	color:white;
	font-weight:600;
}

.featured {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
}

.pricingtable:hover{
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.featured  > header{
	-moz-border-radius:3px 3px 0px 0px;
	-ms-border-radius:3px 3px 0px 0px;
	-o-border-radius:3px 3px 0px 0px;
	-webkit-border-radius:3px 3px 0px 0px;
	border-radius:3px 3px 0px 0px;
	background-color:#4aaaa5;
}

.pricingbody{
	padding:30px 50px 0px 50px;
	text-align:left;
}

.tableprice{
	padding:30px 50px;
	text-align:center;
}

.pricingbody ul{
	margin:0;
	padding:0;	
}

.pricingbody li{
	list-style:none;	
	font-size:18px;
	padding:6px 0px;
	word-wrap: break-word;
}

.pricingbody li:first-child{
	padding-top:0px;
}

.pricingbody li:last-child{
	padding-bottom:30px;
	border-bottom:1px solid #E7E7E7;
}

.tableprice > span{
	display:block;	
	font-size:16px;
	color:#999;
	text-align:center;
	width:100%;
}

.tableprice > span.pricingtable_price{
	font-size:72px;
	font-weight:700;
	color:#666666;
	line-height:72px;
}

.pricingtable  > footer{
	width:100%;
	float:left;
	padding:0px 0px 30px 0px;
	margin:0px;	
}

.populartable{
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: -4px;
	right: -4px;
	background-image: url(../img/popular.png);
	z-index: 2000;
	background-position: left top;
}

/* ===== WIDGET SECTION ===== */

ul.sidebarblog_post{
	width:100%;
	float:left;
	padding:0;
	margin:0;
}

ul.sidebarblog_post li{
	display:block;
	list-style:none;
	list-style-image:none;
	padding:22px 0px 21px 0px;
}

ul.sidebarblog_post li:first-child{
	padding-top:0px;
}

ul.sidebarblog_post li span{
	padding:8px 10px 4px 10px;
	float:left;
	margin:3px 10px 6px 0px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

ul.sidebarblog_post li p{
	font-size:12px;
	padding:1px 0;
	margin:0;
	width:100% !important;
	display:block;
}

.imagelength img{
	width:100%;
	height:auto;.carousel-control	
}

.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:550px !important;
	overflow:hidden;
}


@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes toLeftFromRight {
	0%{
		opacity: 0;
	}
	49% {
		-webkit-transform: translate(0%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	0%{
		opacity: 0;
	}
	49% {
		-moz-transform: translate(0%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	0%{
		opacity: 0;
	}
	49% {
		transform: translate(0%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

@-webkit-keyframes toRightFromLeft {
	0%{
		opacity: 0;
	}
	49% {
		-webkit-transform: translate(0%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	0%{
		opacity: 0;
	}
	49% {
		-moz-transform: translate(0%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	0%{
		opacity: 0;
	}
	49% {
		transform: translate(0%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

@-webkit-keyframes toTopFromBottom {
	0%{
		opacity: 0;
	}
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	0%{
		opacity: 0;
	}
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	0%{
		opacity: 0;
	}
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}